<div *ngIf="selectedMovie" class="selected-movie">
  <img src="{{selectedMovie.thumbnail}}" alt="">
  <div class="play">
    <div><b>{{selectedMovie.title}}</b></div>
    <button>Play</button>
  </div>
  
  <div class="clear"></div>
</div>

<h2>Top Movies</h2>

<div [class.selected]="movie==selectedMovie" *ngFor="let movie of movies">
  <div class="rating">{{ movie.rating | number:'1.1-1'}}</div>
  <div class="thumbnail">
    <img src="{{movie.thumbnail}}" alt=""/>
  </div>
  <div class="title"><a (click)="selectMovie(movie)">{{movie.title}}</a> <br/> {{movie.year}}</div>
  <div class="clear"></div>
</div>
