<form (ngSubmit)="addMovie();movieAddForm.resetForm()" #movieAddForm="ngForm">
  <div>
    <label>Title</label>
    <input type="text" [(ngModel)]="newMovie.title" name="title" required minlength="4" #title="ngModel">
    <div *ngIf="title.invalid && (title.touched || title.dirty)" class="error">
      <div *ngIf="title.errors.required">
        Title is required
      </div>
      <div *ngIf="title.errors.minlength">
        Min 4 chars
      </div>
    </div>
  </div>
  <div>
    <label>Year</label>
    <input type="text" [(ngModel)]="newMovie.year" name="year" #year="ngModel" required>
    <div *ngIf="year.invalid && (year.touched || year.dirty)" class="error">
      <div *ngIf="year.errors.required">
        Year is required
      </div>
    </div>
  </div>
  <div>
    <label>Rating</label>
    <input type="text" [(ngModel)]="newMovie.rating" name="rating" #rating="ngModel" required>
    <div *ngIf="rating.invalid && (rating.touched || rating.dirty)" class="error">
      <div *ngIf="rating.errors.required">
        Rating is required
      </div>
    </div>
  </div>
  <div>
    <label>Thumbnail</label>
    <input type="text" [(ngModel)]="newMovie.thumbnail" name="thumbnail" #thumbnail="ngModel" required>
    <div *ngIf="thumbnail.invalid && (thumbnail.touched || thumbnail.dirty)" class="error">
      <div *ngIf="thumbnail.errors.required">
        Thumbnail is required
      </div>
    </div>

  </div>
  <div>
    <button type="submit" [disabled]="movieAddForm.invalid">Add</button>
  </div>
</form>
{{newMovie | json}} Valid: {{movieAddForm.valid }} Submitted: {{movieAddForm.submitted }}