<form>
  <div>
    <label>Label</label>
    <input type="text" [(ngModel)]="newTask.label"/>
  </div>
  <div>
    <label>Priority</label>
    <select [(ngModel)]="newTask.priority">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
  </div>
  <div>
    <label>Done</label>
    <input type="checkbox" [(ngModel)]="newTask.done"/>
  </div>
</form>

<div *ngFor="let todo of todos">
  <div class="label">{{todo.label}}</div>
  <div class="priority">{{todo.priority}}</div>
  <div class="done">{{todo.done}}</div>
  <hr/>
</div>